.App {
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
}

.connected {
  width: 18px;
  height: 18px;
  background-color: #31e67f;
  box-shadow: 0px 0px 3px 3px #34f789;
  border-radius: 50%;
}
.disconnected {
  width: 18px;
  height: 18px;
  background-color: red;
  box-shadow: 0px 0px 3px 3px #;
  border-radius: 50%;
}
